body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  background-image: url(https://cdn4.teebooks.com/5467/wall-bookshelf-60-x-25-cm-set-of-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}